# Documentação Técnica (Explicações)
Bootstrap (Introdução).pdf

# Ignora quaisquer outros PDFs que possam ser adicionados
*.pdf

# Configurações de IDE (VS Code)
.vscode/

# Ignora a página node_modules
node_modules/

Fase 1 (Navbar)

Fase 2 (Banners)

Fase 3 (BestSellers)
nos/
Fase 4 (NewProducts)

Fase 5_Final (Gallery e Footer)
